.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: DodgerBlue;
    justify-content: space-around;
    padding: 10px; /* Adds spacing inside the container */
    gap: 20px; /* Adds spacing between elements */
  }
   
  .flex-container > div {
    background-color: #f1f1f1;
    width: 300px;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
  }

